.view-about {
  margin: auto;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 3em;

  max-width: 40%;
  @media screen and (max-width: 500px) {
    max-width: 96%;
  }

  h3 {
    margin: 1.2em 0 0.3em;
    font-size: 1.4em;
  }

  p {
    margin: 0.6em 0;
  }
}
