.view-country-menu {
  font-size: 1rem;
  position: relative;

  a {
    text-decoration: none;
  }

  ul {
    width: 112%;
    position: absolute;
    top: 0;
    left: -6%;
    visibility: hidden;
    padding: 1.4em 0 0.4em !important;

    background-color: $color-main-background;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    text-align: center;
  }

  &:hover {
    background-color: $color-main-background;
  }

  &:hover ul {
    visibility: visible;
  }

  .main-link {
    position: relative;
    vertical-align: middle;

    img {
      position: relative;
      top: 0.2em;
      height: 1em;
    }
  }
}
