#footer {
  font-size: 0.8rem;
  text-align: center;

  .top-border {
    width: 99%;
    width: calc(100% - 2em);
    height: 2px;
    margin: 0 auto 0 auto;

    background: url("/images/common/border.png");
  }

  .main-phrase {
    margin: 0.4em 0 0.5em;
    vertical-align: middle;

    &:hover {
      a {
        color: darken($color-heart, 10%);
      }
    }

    a {
      text-decoration: none;
    }

    .heart {
      display: inline-block;
      position: relative;
      top: 0.14em;
      line-height: 0.7em;

      font-size: 1.4em;
      color: $color-heart;
    }
  }
}
