#header {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  max-width: 1108px;
  margin: auto;
  padding: 0;
  list-style: none;

  transition: all 1.2s;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .logo {
    font-style: italic;
    font-size: 1.2em;

    transition: all 1.2s;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
  
  .social {
    width: 30px;
    height: 30px;
    margin-left: 0.3em;
    
    svg {
      vertical-align: middle;
    }
  }

  .spacer {
    flex: 2;
  }
}
