.view-main {
  margin: auto;
  text-align: center;
  width: 100%;

  &.leaving {
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-name: fade-out;
  }

  .logo {
    opacity: 0;
    transform: scale(0.7);

    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-name: fade-in, zoom-to-1;

    img {
      width: 90%;
      max-width: 1108px;
    }
  }

  .menu {
    margin-top: 1em;
    font-size: 5vmin;
    opacity: 0;

    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-name: fade-in;

    .button {
      padding: 0.3em 0.7em;
    }
  }
}
