.view-support {
  margin: auto;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1em;

  max-width: 600px;
  @media screen and (max-width: 500px) {
    max-width: 96%;
  }

  // IE hacks
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    width: 100%;
  }

  h4 {
    margin-top: 0.7em;
  }

  .view-share {
    a {
      $width: 3em;
      width: $width;
      height: $width;
      border-radius: $width / 2;
    }
  }
  
  .yandex > * {
    display: block;
    margin: 0.3em auto;
  }
}
