.view-verse {
  margin: auto;
  display: flex;
  flex-direction: row;
  max-width: 96%;
  font-size: 1rem;

  & > div {
    margin: auto;
  }

  .top {
    margin: 2em 0 0 0;
    text-align: center;

    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: fade-in, reset-transform;

    .title {
      font-size: 1.3em;
      font-weight: bold;
    }

    .description {
      margin: 0;
      font-size: 0.8em;
      font-style: italic;
    }

    .monogram {
      margin: 0.9em 0;
      height: (56px / 2);

      opacity: 0;
      transform: scale(0.8);
      animation-delay: 1.5s;
      animation-duration: 1.5s, 2s;
      animation-fill-mode: forwards;
      animation-name: fade-in, reset-transform;

      @media screen and (max-width: 500px) {
        height: (56px / 4);
      }
    }
  }

  .content, .content-spacer {
    font-size: 1em;
  }

  .content {
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: antialiased;

    & > div {
      margin: auto;
    }

    .width-spacer {
      white-space: pre-line;
      height: 1px;
      visibility: hidden;
      overflow: hidden;
    }

    span {
      //display: inline-block;
      white-space: pre-line;
      opacity: 0;
      transform: translate(1.5em, 0) scale(1.8);
      //transform: translate(0, 1.5em) scale(1.8);

      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-name: fade-in, reset-transform;
    }

    input {
      border: none;
      font-size: inherit;
      font-family: inherit;

      &.visible {
        width: 2.5em;
        opacity: 1;
      }

      &.hidden {
        width: 0;
        opacity: 0;
      }
    }

    .author {
      text-align: center;
      margin: 1em 0;

      & > * {
        opacity: 0;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-name: fade-in;
      }

      .monogram {
        margin-top: 1em;
        height: (36px / 2);

        animation-delay: 4s;

        @media screen and (max-width: 500px) {
          height: (36px / 2.5);
        }
      }

      .name {
        text-align: right;
        font-weight: bold;

        animation-delay: 0.8s;
      }

      .year {
        text-align: right;
        font-style: italic;
        font-size: 0.8em;

        animation-delay: 2s;
      }
    }
  }

  .bottom {
    min-height: 9em;
    text-align: center;

    .ending {
      margin: 1em 0;
      opacity: 0;

      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-name: fade-in;
      animation-delay: 6s;

      .result {
        font-size: 1.4em;

        .time {
          white-space: nowrap;
        }
      }

      .buttons {
        margin: 1em 0;

        a {
          margin: 0.3em 0;
          min-width: 240px;
        }
      }
    }
  }
}
