.view-verse {
  margin: auto;

  .content, .verse-width {
    white-space: pre-line;
    font-size: 1rem;
  }

  .content {
    min-height: 10rem;

    span {
      opacity: 0;
      transform: translate(1.5em, 0) scale(1.8);

      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-name: fade-in, reset-transform;
    }

    input {
      border: none;
      font-size: inherit;
      font-family: inherit;

      .visible {
        visibility: visible;
      }

      .hidden {
        visibility: hidden;
      }
    }
  }

  .verse-width {
    height: 1px;
    visibility: hidden;
    overflow: hidden;
  }
}
