@import 'mixins';
@import 'compass/css3';
@import 'compass/css3/animation';

/* Common */
$text-color: #3C1212;
$link-color: $text-color;
$base-font-family: Georgia, serif;

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: $text-color;
}

a {
  color: $link-color;
}

.notransitions * {
  transition: none !important;
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  transform: none !important;
}

/* Base structure */

html {
  font-family: $base-font-family;
  font-size: 22px;

  @media screen and (max-width: 500px) { // meeh, can't put into var because of some issue with autoprefixer -- it stops to add prefixes if I do! :(
    font-size: 16px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #e8cbad url("/images/main/background.jpg");
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#footer {
  visibility: hidden;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.32);
}

a.button {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: 2px solid $link-color;

  text-decoration: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
