<div class="view-about">
  <h3>{{ 'VIEW_ABOUT_CREATOR_TITLE' | translate }}</h3>
  <p><a href="http://bobrosoft.com" target="_blank">{{ 'VIEW_ABOUT_CREATOR_NAME' | translate }}</a></p>

  <h3>{{ 'VIEW_ABOUT_SOCIAL_TITLE' | translate }}</h3>
  <p>
    <a href="https://vk.com/literatorio" target="_blank">VKontakte</a> / 
    <a href="https://www.facebook.com/LiteratorioApp/" target="_blank">Facebook</a>
  </p>

  <h3>{{ 'VIEW_ABOUT_CONTRIBUTE_TITLE' | translate }}</h3>
  <p><a href="https://github.com/bobrosoft/literator.io-verses" target="_blank">{{ 'VIEW_ABOUT_CONTRIBUTE_VERSES_REPO' | translate }}</a></p>
  <p><a href="https://github.com/bobrosoft/literator.io" target="_blank">{{ 'VIEW_ABOUT_CONTRIBUTE_APP_REPO' | translate }}</a></p>

  <h3>{{ 'VIEW_ABOUT_VERSES_TITLE' | translate }}</h3>
  <p>{{ 'VIEW_ABOUT_VERSES_DISCLAIMER' | translate }}</p>
  <p>{{ 'VIEW_ABOUT_VERSES_HOW_TO_ADD' | translate }} <a href="https://github.com/bobrosoft/literator.io-verses" target="_blank">{{ 'VIEW_ABOUT_VERSES_HOW_TO_ADD_LINK' | translate }}</a></p>

  <h3>{{ 'VIEW_ABOUT_CONTACTS_TITLE' | translate }}</h3>
  <p><a href="mailto:bobr@bobrosoft.com" target="_blank">bobr@bobrosoft.com</a></p>
  <p><br/><a href="#/support">{{ 'VIEW_ABOUT_SUPPORT_THE_PROJECT' | translate }}</a></p>
</div>

