<div class="view-about">
  <h3>{{ 'VIEW_ABOUT_CREATOR_TITLE' | translate }}</h3>
  <p><a href="http://bobrosoft.com" target="_blank">{{ 'VIEW_ABOUT_CREATOR_NAME' | translate }}</a></p>

  <h3>{{ 'VIEW_ABOUT_CONTRIBUTE_TITLE' | translate }}</h3>
  <p><a href="https://github.com/bobrosoft/literator.io-verses" target="_blank">{{ 'VIEW_ABOUT_CONTRIBUTE_VERSES_REPO' | translate }}</a></p>
  <p><a href="https://github.com/bobrosoft/literator.io" target="_blank">{{ 'VIEW_ABOUT_CONTRIBUTE_APP_REPO' | translate }}</a></p>

  <h3>{{ 'VIEW_ABOUT_VERSES_TITLE' | translate }}</h3>
  <p>{{ 'VIEW_ABOUT_VERSES_DISCLAIMER' | translate }}</p>
  <p>{{ 'VIEW_ABOUT_VERSES_HOW_TO_ADD' | translate }} <a href="https://github.com/bobrosoft/literator.io-verses" target="_blank">{{ 'VIEW_ABOUT_VERSES_HOW_TO_ADD_LINK' | translate }}</a></p>

  <h3>{{ 'VIEW_ABOUT_CONTACTS_TITLE' | translate }}</h3>
  <p><a href="mailto:creator@literator.io">creator@literator.io</a></p>
</div>

