<div class="view-catalog" ng-class="{leaving: isLeaving}">
  <h3 class="title">{{ 'VIEW_CATALOG_TITLE' | translate }}</h3>
  <div class="list">
    <div class="item" ng-repeat="author in ::authors | filter: authorsFilter | orderBy: 'shortName'">
      <h4 class="author">{{ ::author.shortName }} <a ng-href="{{ ::author.wikiLink }}" ng-show="::author.wikiLink" target="_blank" title="Wiki"><img src="images/common/ext_link_icon.svg" /></a></h4>
      <ul>
        <li ng-repeat="verse in ::author.verses | orderBy: 'title'"><a ng-href="#{{ ::verse.url }}" ng-click="onVerseLinkClick($event, verse)">{{ ::verse.title }}<span ng-if="verse.title.length < 6 && verse.description" class="description"> / {{ ::verse.description }}</span></a></li>
      </ul>
    </div>
  </div>
  <div class="bottom">
    <a href="" class="button" ng-click="onRandomVerseButtonClick()">{{ 'VIEW_CATALOG_RANDOM_VERSE_BTN' | translate }}</a>
    <p class="disclaimer">
      <br/>{{ 'VIEW_CATALOG_DISCLAIMER_LINE_1' | translate }}
      <br/>{{ 'VIEW_CATALOG_DISCLAIMER_LINE_2' | translate }} <a href="{{global.currentLang === 'ru' ? 'https://vk.com/topic-130142643_35492394' : 'https://www.facebook.com/LiteratorioApp'}}" target="_blank">{{ 'VIEW_CATALOG_DISCLAIMER_LINE_2_LINK' | translate }}</a>
    </p>
  </div>
</div>
