<div class="view-main" ng-class="{leaving: isLeaving}">
  <div class="logo" ng-show="global.currentLang" itemscope itemtype="http://schema.org/Organization">
    <a itemprop="url" href="#/">
      <img itemprop="logo" ng-src="images/main/logo_{{ global.currentLang == 'ru' ? 'ru' : 'en' }}.png" alt="Literator.io" />
    </a>
  </div>
  <div class="menu">
    <div>
      <a href="" class="button start" ng-click="onStartButtonClick()">{{ 'VIEW_MAIN_START_BTN' | translate }}</a>
    </div>
    <div class="other">
      <div class="monogram" ng-show="isCatalogEnabled">
        <img src="images/common/mono-narrow.svg" />
      </div>
      <p ng-show="isCatalogEnabled">
        <a href="#/catalog" ng-click="onCatalogClick()">{{ 'VIEW_MAIN_VERSES_LIST' | translate }}</a>
      </p>
    </div>
  </div>
  <div class="bottom" ng-class="{'share-show': isSharePanelShown}">
    <div>
      &nbsp;&nbsp;&nbsp; {{ 'VIEW_MAIN_WE_IN' | translate }}
      <a class="vk" target="_blank" href="https://vk.com/literatorio" ng-click="onSocialClick('vk')">VK</a> /
      <a class="fb" target="_blank" href="https://www.facebook.com/LiteratorioApp/" ng-click="onSocialClick('fb')">Facebook</a>
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <a href="" ng-click="onShareClick()" class="share-link">{{ 'VIEW_MAIN_SHARE' | translate }}</a>
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <a href="#/support" ng-click="onSupportClick()">{{ 'VIEW_MAIN_SUPPORT_PROJECT' | translate }}</a>
      &nbsp;&nbsp;&nbsp;
    </div>
    <ng-include src="'views/share.html'" ng-controller="ShareCtrl" ng-init='shareTitle = ("VIEW_MAIN_SHARE_TITLE" | translate)'></ng-include>
  </div>
</div>
