<div class="view-main" ng-class="{leaving: isLeaving}">
  <div class="logo" ng-show="global.currentLang" itemscope itemtype="http://schema.org/Organization">
    <a itemprop="url" href="#/">
      <img itemprop="logo" ng-src="images/main/logo_{{ global.currentLang == 'ru' ? 'ru' : 'en' }}.png" alt="Literator.io" />
    </a>
  </div>
  <div class="menu">
    <div>
      <a href="" class="button start" ng-click="onStartButtonClick()">{{ 'VIEW_MAIN_START_BTN' | translate }}</a>
    </div>
    <div class="other">
      <div class="monogram" ng-show="isCatalogEnabled">
        <img src="images/common/mono-narrow.svg" />
      </div>
      <p ng-show="isCatalogEnabled">
        <a href="#/catalog">{{ 'VIEW_MAIN_VERSES_LIST' | translate }}</a>
      </p>
    </div>
  </div>
    </p>
  </div>
</div>
