<div class="view-verse">
  <div>
    <div class="verse-width">{{ ::verse.content }}</div>

    <div class="top" ng-show="verse">
      <h1 class="title">{{ ::verse.title }}</h1>
      <p class="description">{{ ::verse.description }}</p>
      <img class="monogram" src="/images/verse/mono-top.png" />
    </div>

    <div class="content">
      <span ng-repeat="piece in versePieces track by $index">{{::piece + ''}}</span><input ng-class="{visible: currentBlock, hidden: !currentBlock}" ng-keyup="onInputFieldKeyup()" autocorrect="off" autocomplete="off" autocapitalize="off" />
    </div>

    <div class="bottom">
      <div ng-show="isFinished">

        <div class="author">
          <p class="name">{{ ::author.shortName }}</p>
          <p class="year">{{ ::verse.year }} {{ 'VIEW_VERSE_SHORT_YEAR' | translate }}</p>
          <img class="monogram" src="/images/verse/mono-bottom.png" />
        </div>

        <div class="tail">
          <div class="result">
            {{ 'VIEW_VERSE_RESULT_MESSAGE' | translate }} <span class="time"><span ng-if="finishedInSeconds > 60">{{ finishedInSeconds / 60 | number: 0 }} {{ 'VIEW_VERSE_RESULT_MINUTES' | translate }}</span> {{ finishedInSeconds % 60 | number: 0 }} {{ 'VIEW_VERSE_RESULT_SECONDS' | translate }}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

